<%- layout ("layouts/boilerplate.ejs") %>

<form action="http://localhost:8080/user/login" method="post" novalidate class="needs-validation">

    <div class="row">
        <h1 class="col-6 offset-2">Login into WonderLust!!</h1>
        <div class="col-6 offset-3">
            <br><br>
            <div class="mb-3">
                <label class="form-label" for="username"> Username :</label>
                <input placeholder="Enter your username" class="form-control" name='username' type="text" value=""
                    required>
                <div class="invalid-feedback">Please enter your username</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password"> Password :</label>
                <input placeholder="Enter your password" class="form-control" name='password' type="password" value=""
                    required>
                <div class="invalid-feedback">Give a valid password</div>
            </div>
            <br><br>
            <button class="btn btn-dark" type="submit">Submit</a></button>
        </div>
    </div>
</form>
